mixin inp_country
	select(id="country")
		option(value="sk") Slovakia

mixin inp_placetext
	input(type="text", id="place" placeholder="Place of travel")
	input(type="button",id="search" value="Search", onclick="submitPlace()")

mixin inp_placeselect
	select(id="placeSelect" onchange="embedUpdate()" disabled)

mixin inp_activityselect 
	select(id="activity", onchange="activitySelectChange()")
		option(value="" selected) -- Activity --
		option(value="walking") Walking
		option(value="hiking") Hiking
		option(value="biking") Biking
		option(value="running") Running
		option(value="other") Other
	input(type="text", id="otherActivity", style="display:none;")

mixin inp_photos
	input(type="file" id="photosUpload" multiple="multiple")

mixin placeSelect
	.line
		+inp_placetext
	+inp_placeselect
	+inp_activityselect
	+inp_photos

mixin inp_dateselect(id)
	select(id=`${id}_dateselect` onchange=`dateSelectChange("${id}")`)
		option(value="today") Today
		option(value="date") Date
		option(value="offset") Offset from today
	+inp_dt(id)
	+inp_offset(id)

mixin inp_dt(id)
	- const today = new Date();
	- today.setDate(today.getDate() + (maxDays || 0));
	input(type="datetime-local" id=`${id}_date` max=today.toISOString() style="display: none;")

mixin inp_offset(id)
	input(type="number" id=`${id}_offset_days` placeholder="Days" style="display: none;" max=`${maxDays}`)
	input(type="number" id=`${id}_offset_hours` placeholder="Hours" style="display: none;" max=`${maxDays}`)

mixin timeSelect
	+inp_dateselect("start")
	+inp_dateselect("end")
	input(type="button", value="Get Advice", onclick="getAdvice()")

mixin gpt_box
	textarea(id="gpt_box" style="resize:none;" readonly)
	img(src="/media/spinner.svg" width="50" style="display: none;" id="spinner")

mixin textOutput
	+gpt_box

mixin placeMap
	iframe(id="preview" src="https://www.openstreetmap.org/export/embed.html")


doctype html 
html 
	head 
		meta(charset="UTF-8")
		script(src="media/main.js") 
		link(rel="stylesheet" href="media/main.css")
		link(rel="preconnect" href="https://fonts.googleapis.com")
		link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
		link(href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet")
	body
		.app
			.columns
				.col(style="flex-grow:1;flex-basis:400px")
					+placeSelect
					+placeMap
				.col(style="flex-shrink:1;")
					+timeSelect
				.col(style="flex-grow:3;")
					#weather-array
					+textOutput